@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

@import "general";
@import "animations";


@import "components/header";
@import "components/card";
@import "components/modal";
@import "components/question";
@import "components/buttons";
@import "components/footer";

.content {
  min-height: calc(100vh - 121px);
  &.headerless {
    min-height: calc(100vh - 95px);

  }
}

.container {
  &.narrow {
    max-width: 600px;
  }

  &.headerless {
    margin-top: 50px;

  }
}
